* { font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.table-hover>tbody>tr:hover { background-color: #ebebeb; }
.row .btn-info:hover {
  background-color: #0088A8;
  border-color: #0088A8;
}
.row .btn-danger:hover {
  background-color: #e11;
  border-color: #e11;
}
.row .btn-warning:hover {
  background-color: #eb1;
  border-color: #eb1;
}

/************************************/
/*          sidebar search          */
/************************************/
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  margin: 0;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff; }
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

/*****************************************/
/*     index & myBooks & myFavorites     */
/*****************************************/
.books-container .row {
  padding-left: 0;
  margin: 0 -15px;
}
.books-container .books img { width: 145px; }
.books-container .author {
  color: #088; font-size: 15px; }
.books-container .text-danger { padding-left: 50px; }

@media (max-width: 768px) {
  /* myBooks myFavorites */
  .text-danger { padding-left: 0; }

  .books-container .books img { width: 165px; }
}
@media (max-width: 340px) {
  .books-container .author { font-size: 13px; }
  .books-container .pirce { font-size: 17px; }
}
@media (min-width: 1200px) {
  .books-container .books { height: 211px; }
}

/****************************/
/*     book information     */
/****************************/
.bookInformation-container .books .table .price2 { font-size: 26px; color: #f00; }
.bookInformation-container .books .table .discount {
  padding-left: 8px;
  color: #e70; font-size: 24px;
}

.books-information {
  padding-left: 3%;
  padding-top: 15px;
}
.books-information .books { padding-left: 5%; }
.books-information .leader { padding-right: 13%; }
.books-information .otherNoBr { display: block-inline; }
.books-information .otherBr { display: none; }
.books-information .favorites {
  display: none;
  background: rgba(255, 119, 68, .75);
  border-color: rgba(255, 119, 68, .75);
}
.books-information .favorites:hover {
  background: rgba(255, 119, 68, 1);
  border-color: rgba(255, 119, 68, 1);
}

.books-information .message .plzLogin { font-size: 16px; }
.books-information .message .login { color: #59f; }
.books-information .message .login:hover { color: #008; }
.books-information .message .content { padding-bottom: 13px; }
.books-information .message .content p {
  padding-top: 8px;
  font-size: 16px;
}
.books-information .message .content a {
  font-size: 16px;
  color: #888;
}
.books-information .message .content a:hover { color: #59f; }
.books-information .message .reply-form {
  padding-top: 20px;
  display: none;
}
.books-information .message .reply-form.expanded { display: block; }
.books-information .message .reply-form input { margin-top: 13px; }
.books-information .message .message-board h4 { color: #003c9d;  }
.books-information .message .message-board .nextMessage { padding-left: 25px; }
.books-information .message .message-board .isSeller {
  background: rgba(0, 0, 0, .65);
  color: #fff; border-radius: 100px;
  font-size: .855em; padding: 2px 10px;
}

.bookInformation-fixed {
  position: fixed;
  bottom: 20px; right: 20px;
  width: 190px; padding: 10px;
  background-color: #abcdef;
  display: none; opacity: 0.85;
}

@media (max-width: 767px) {
  .books-information .books h3:first-child { padding-left: 0; }
  .books-information .books .table { margin-left: 0; }
  .books-information .leader { padding-right: 17%; }
  .books-information .otherNoBr { display: none; }
  .books-information .otherBr { display: table-row; }
  .books-information .message .message-board .nextMessage { padding-left: 0; }
}
@media (max-width: 570px) {
  .bookInformation-container .books .col-md-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .bookInformation-container .books .table td,
  .bookInformation-container .books .table .price2,
  .bookInformation-container .books .table .discount {
    font-size: 17px;
    padding-left: 0;
  }
  .bookInformation-container .books .table .btn-info { width: 68px; }
}
@media (max-width: 991px) {
  .books-information .message { margin-top: 35px; }
  .books-information .message div[class^="col-md-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .books-information .message .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .books-information .message .messageBtn-padding { padding-bottom: 50px; }
}


/***************************/
/*          books          */
/***************************/
.books {
  background-color: #fff;
  border: 1px solid #ddd; }
.books img {
  display: block;
  margin: auto;
  border: 1.5px solid #fff;
  transition: border-color 500ms, padding 300ms;
  -webkit-transition: border-color 500ms, padding 300ms;
}
.books img:hover {
  border-color: #19B5FE;
  padding: 5px;
}
.books h4.books-name {
  font-size: 1.05em;
  padding-bottom: 15px;
}

@media (max-width: 750px) {
  .books h4.books-name { padding-top: 13px; }
}
@media (max-width: 570px) {
  .books h4.books-name {
    font-weight: bold;
    line-height: 24px;
    font-size: 17px;
  }
}
@media (max-width: 340px) {
  .books h4.books-name { font-size: 15px; }
}


/**************************/
/*          Form          */
/**************************/
.my-container {
  padding-left: 18%;
  padding-right: 25%
}
.my-container label {
  font-weight: normal;
  font-size: 18px;
}
.my-container .btn-primary,
.my-container .profile .btn-success {
  border-radius: 10px;
  width: 80px;
  display: block;
  margin: auto;
}
.my-container .row-active {
  font-size: 13px;
  padding-bottom: 50px;
}
.my-container .row-active a { color: #38c; }
.my-container .row-active a:hover { color: #208; }

@media (max-width: 768px) {
  .my-container {
    padding-left: 5%;
    padding-right: 5%
  }
}


/****************************/
/*          Errors          */
/****************************/
.list-group li { font-size: 16px; }


/******************************/
/*          paginate          */
/******************************/
.flat-blue .pager { display: none; }
.flat-blue .pagination { display: inline-block; }

@media (max-width: 768px) {
  .flat-blue .pager { display: block; }
  .flat-blue .pagination { display: none; }
}
